<?xml version="1.0" encoding="utf-8"?>
	<!--
		Copyright (C) 2009-2010 Felix Bechstein
	-->
	<!--
		This file is part of Call Meter 3G. This program is free software; you
		can redistribute it and/or modify it under the terms of the GNU
		General Public License as published by the Free Software Foundation;
		either version 3 of the License, or (at your option) any later
		version.
	-->
	<!--
		This program is distributed in the hope that it will be useful, but
		WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
		General Public License for more details. You should have received a
		copy of the GNU General Public License along with this program; If
		not, see <http://www.gnu.org/licenses/>.
	-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.ub0r.android.callmeter" android:versionName="2.8.4 beta4"
	android:versionCode="2804" android:installLocation="internalOnly">
	<application android:name=".CallMeter" android:icon="@drawable/icon"
		android:label="@string/app_name" android:debuggable="true">
		<activity android:name=".ui.Plans" android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden"
			android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.Logs" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" android:windowSoftInputMode="adjustResize" />
		<activity android:name=".ui.prefs.Preferences"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="import" />
				<data android:scheme="imports" />
				<data android:host="callmeter.android.ub0r.de" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/android.callmeter.export" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.prefs.Plans"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" android:windowSoftInputMode="adjustResize" />
		<activity android:name=".ui.prefs.PlanEdit"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" android:windowSoftInputMode="adjustResize" />
		<activity android:name=".ui.prefs.Rules"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" android:windowSoftInputMode="adjustResize" />
		<activity android:name=".ui.prefs.RuleEdit"
			android:configChanges="orientation|keyboardHidden"
			android:windowSoftInputMode="adjustResize" />
		<activity android:name=".ui.prefs.NumberGroups"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" android:windowSoftInputMode="adjustResize" />
		<activity android:name=".ui.prefs.NumberGroupEdit"
			android:configChanges="orientation|keyboardHidden"
			android:windowSoftInputMode="adjustResize" />
		<activity android:name=".ui.prefs.HourGroups"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" android:windowSoftInputMode="adjustResize" />
		<activity android:name=".ui.prefs.HourGroupEdit"
			android:configChanges="orientation|keyboardHidden"
			android:windowSoftInputMode="adjustResize" />
		<activity android:name=".ui.About" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" android:windowSoftInputMode="adjustResize" />
		<activity android:name="de.ub0r.android.lib.DonationHelper"
			android:configChanges="orientation|keyboardHidden"
			android:windowSoftInputMode="adjustResize" />
		<receiver android:name="de.ub0r.android.lib.DonationReceiver">
			<intent-filter>
				<action android:name="de.ub0r.android.donator.REGISTERED" />
			</intent-filter>
		</receiver>
		<receiver android:name=".data.LogRunnerReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.ACTION_SHUTDOWN" />
				<action android:name="android.intent.action.REBOOT" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
		</receiver>
		<service android:name=".data.LogRunnerService" />
		<provider android:name=".data.DataProvider"
			android:authorities="de.ub0r.android.callmeter.provider" />
		<receiver android:name=".widget.StatsAppWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/stats_appwidget_info" />
		</receiver>
		<activity android:name=".widget.StatsAppWidgetConfigure"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		<!-- The application's publisher ID assigned by AdMob -->
		<meta-data android:value="a14c185ce8841c6" android:name="ADMOB_PUBLISHER_ID" />
		<meta-data android:value="true" android:name="ADMOB_ALLOW_LOCATION_FOR_ADS" />
	</application>
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8" />
	<supports-screens android:anyDensity="true" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- AdMob SDK permissions -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest> 
