<!-- TODO: longdescription, link ... -->
{% for plan in country[1] %}
<tr id="{{ plan.id }}" rel-country="{{ plan.country }}" rel-provider="{{ plan.provider }}">
  <td>{{ plan.country }}</td>
  <td>{{ plan.provider }}</td>
  <td>
    <a class="import-link" href="{{ plan.importurl }}" rel="#popup_{{ plan.id }}">{{ plan.title }}</a>
  </td>
</tr>

<!-- hidden div for popup -->
<div id="popup_{{ plan.id }}" class="lazy-popup">
  <img class="lazy barcode" src="{{site.github.url}}/static/white.gif" data-original="http://{% cycle '1', '2', '3', '4', '5', '6', '7', '8', '9' %}.chart.apis.google.com/chart?chs=400x400&amp;cht=qr&amp;chl={{ plan.importurl | uri_escape }}"/>
</div>
{% endfor %}
