body { font-size: 120% }
.ruleset { border-top-style: dashed; border-top-width: 2px; padding-bottom: 10px; }
.hidelink { color: #000000; text-decoration: none; }
.hidelink:hover { text-decoration: underline; }
