table {
	width: 100%;
}

.thead, .thead select {
	background: #ddd;
}

.trow td {
	border-bottom: 2px dashed #ddd;
}

#content {
	margin: 5px;
}

.overlay {
	display: none;
	z-index: 10000;
	background-color: #fff;
	border: 1px solid #ddd;
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;
}

.overlay .details {
	max-height: 600px;
	overflow-y: auto;
}

.overlay .close {
	background-image:url(close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}
