.ruleset { border-top-style: dashed; border-top-width: 1px; }
.hidelink { color: #000000; text-decoration: none; }
.hidelink:hover { text-decoration: underline; }
.barcode { float: left; padding: 15px; }
.text { float: left; margin-bottom: 15px; }
.endtext { clear: both; }
